:root {
    /* font-family variables */
    --font-sans: Roboto, Helvetica, Arial, system-ui, sans-serif;
    --font-mono: "Roboto Mono", ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;

    /* font-size variables */
    --fs-tiny:       0.5625rem;
    --fs-extrasmall: 0.625rem;
    --fs-small:      0.75rem;
    --fs-semismall:  0.8125rem;
    --fs-medium:     0.875rem;
    --fs-regular:    1.0rem;
    --fs-big:        1.125rem;
    --fs-semilarge:  1.25rem;
    --fs-large:      1.375rem;
    --fs-semihuge:   1.5rem;
    --fs-huge:       1.625rem;
    --fs-x-large:    2.0rem;
    --fs-xx-large:   2.5rem;
    --fs-king:       3.875rem;

    /* font-weight variables */
    --fw-thin:       100;
    --fw-extralight: 200;
    --fw-light:      300;
    --fw-semilight:  350;
    --fw-normal:     400;
    --fw-medium:     500;
    --fw-semibold:   600;
    --fw-bold:       700;
    --fw-extrabold:  800;
    --fw-heavy:      900;

    /* dynamic zoom via JS variable, fallback 75% */
    font-size: var(--mdw-zoom, 75%);

    /* defaults */
    font-family: var(--font-sans), sans-serif;
    font-style:  normal;
    font-weight: var(--fw-normal);
}

/* Force standard elements to inherit mdw typography to defeat cacti core.css */
body, td, th, input, textarea, select {
    font-family: var(--font-sans), sans-serif;
    font-weight: var(--fw-normal);
}
